<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">All Public Projects</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
            {% for repository in site.github.public_repositories %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{{ repository.html_url }}" id="#portfolioModal{{ repository.id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-img">
                            <img src="img/portfolio/open-source-default.png" class="img-responsive img-centered" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ repository.name }}</h4>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
