<!-- Why Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Code of Conduct</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
									<p>To ensure that our projects foster a safe and inclusive environment, we have adopted the Contributor Covenant as outlined <a href="http://contributor-covenant.org/" target="_blank">here</a>. The active maintainers of any Meetup OSS project should take a moment to read through the Contributor Covenant before including it in their projects.</p>
                </div>
            </div>
        </div>
    </section>